body{
	background-color: lavender;
	margin-left:5%;
	margin-right:5%;
}
h1{
	font-size:3vw;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align:center;
	text-decoration: underline;
	padding-top:2%;
	padding-left:10%;
	padding-right:10%;
}
.invisible{
	font-size:0px;
}
.radioLabel{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size:1.3vw;
	margin-left:1%;
}
label{
	font-size:2vw;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
button{
	font-style:bold; 
	font-size:2vw;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align:center;
	height: 4vw;
	width:10vw;
	background-color:#f9cfe4;
	border:solid;
	margin-top:2%;
}
.textfield{
	width:25vw;
	height:2vw;
	font-size:1.5vw;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
input{
	height:1vw;
	font-size:1.5vw;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
select, option{
	font-style:bold; 
	font-size:1vw;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}