body{
	background-color: lavender;
}
h1{
	font-style:bold; 
	font-size:60px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
	text-decoration: underline;
}
.head{
	font-style:bold; 
    text-decoration: underline;
	font-size:25px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
label{ 
    font-size:12px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

    .labelMaker{
        border:solid;
        width:350px;
        height:480px;
        left:15px;
        display: inline-block;
        float: right;
        position: relative;
    }
#can{
    width:680px;
    height:485px;
}