body{
	background-color:#f7b7d3;
}
label{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size:1.2vw;
	font-style:italic;
	font-color:grey;
}
h2{
	font-size:40px;
	text-decoration:bold;
}
input{
	width:25vw;
	height:2vw;
	font-size:1.5vw;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
button{
	font-style:bold; 
	font-size:2vw;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align:center;
	height: 4vw;
	width:10vw;
	background-color:lightblue;
	border:solid;
	margin-top:2vw;
}